.login-page {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  > .login-paper {
    border-top: 5px solid rgb(0, 188, 212);
    padding: 15px;
    display: flex;
    flex-direction: column;

    > * {
      margin: 10px;
    }
  }
}